h1 {
	background-color: rgb(0, 81, 225);
	text-align: center;
	position: relative;
	color: inherit;
	left: 100px;
	top: 45px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 400%;
	width: 100px;
	border: solid thin black;
}

.low-usage {
	color: green !important;
}

.medium-usage {
	color: yellow !important;
}

.High-Usage {
	color: red !important;
}

body {
	
	
}

section.main-frame {
	background-color: rgb(0, 81, 225);
	border: inset thin;
	border-width: 20px;
	position: relative;
	width: 400px;
	height: 250px;
}

#temp-up {
	background-image: url(lib/images/buttons_sprite.png);
	background-position: 108px 0px;
	background-size: 330%;
	color: black;
	border: none;
   width: 50px;
	height: 30px;
	position: relative;
	left: 26px;
	bottom: 115px;
	cursor: pointer;

}

#temp-down {
	background-image: url(lib/images/buttons_sprite.png);
	background-position: 53px -21px ;
	background-size: 330%;
	color: black;
	border: none;
   width: 50px;
	height: 30px;
	position: relative;
	left: -28px;
	bottom: 68px;
   cursor: pointer;
}

#ps-mode {
	background-color: rgb(20, 128, 0);
	font-family: "Lucida Console", Monaco, monospace;
   text-align: center;
	font-size: 120%;
	color: black;
	border: solid thin black;
   width: 40px;
	height: 30px;
	position: relative;
	left: 239px;
	bottom: 293px;
}

#ps-switch {
	background-color: rgb(0, 81, 225);
	border: outset black;
	border-radius: 20px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 150%;
   width: 120px;
	height: 80px;
	position: relative;
	left: 228px;
	bottom: 220px;
   cursor: pointer;
}

#ps-switch:hover {
	background-color: rgb(0, 81, 200);
}

#ps-switch:active {
	border: inset black;
}

#ps-switch:before {
	border: none;
}





#psmode-desc {
	background-color: rgb(0, 81, 225);
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 100%;
	color: rgb(200, 0, 0);
   width: 220px;
	height: 20px;
	position: relative;
	left: 5px;
	bottom: 245px;
   cursor: pointer;
}



#reset {
	background-color: rgb(0, 81, 225);
	border: outset black;
	border-radius: 20px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 200%;
   width: 120px;
	height: 50px;
	position: relative;
	left: 120px;
	bottom: 120px;
   cursor: pointer;
}

#reset:hover {
	background-color: rgb(0, 81, 200);
}

#reset:active {
	border: inset black;
}

#city-temp {
	background-color: rgb(0, 81, 225) ;
	position: relative;
	bottom: 400px;
	left: 50px;
	width: 100px;
}